@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 80%;
  margin: 0 auto;
}
nav {
  margin: 10px auto 20px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 20px;
}
nav .logo {
  margin-right: auto;
  cursor: pointer;
}
.logo-text {
  margin:auto
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
}